<div class="container">
  <h2>Book Form</h2>
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <p>
        Book Name : <input type="text" class="form-control" formControlName="bookName">
      </p>
      <div>
        <label for="bookAuthor">Book Author: </label>
        <input id="bookAuthor" type="text" class="form-control" formControlName="bookAuthor" />
      </div>
      @if (bookForm.invalid) {
      <div style="color: red">
        Book Name is required
      </div>
      }
      <p>
        Book Price : <input type="text" class="form-control" formControlName="bookPrice">
      </p>

      <div formGroupName="bookDetails">
        <p>
          Number of Chapters : <input type="text" class="form-control" formControlName="chapters">
        </p>
        <p>
          Number of Pages : <input type="text" class="form-control" formControlName="pages">
        </p>
      </div>
      <div>
        <button type="submit" [disabled]="bookForm.invalid" class="btn btn-success">Click</button>
      </div>
    </div>
  </form>