<div class="container">
  <h1>Book Form</h1>

  <form #bookForm="ngForm" (ngSubmit)="submitForm(bookForm)">
    <div class="form-group">
      <label for="bookName">Book Name:</label>
      <input type="text" class="form-control" id="bookName" placeholder="Enter book name" name="bookName"
        [(ngModel)]="book.bookName" #bookName="ngModel" required>
    </div>
    <div [hidden]="bookName.valid" class="alert alert-danger">
      Book name is required
    </div>

    <br>

    <div class="form-group">
      <label for="bookAuthor">Book Author:</label>
      <input type="text" class="form-control" id="bookAuthor" name="bookAuthor" placeholder="Enter book author"
        [(ngModel)]="book.bookAuthor">
    </div>
    <br>

    <div class="form-group">
      <label for="bookType">Book Type:</label>
      <select class="form-control" id="bookType" name="bookType" [(ngModel)]="book.bookType">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
    <br>

    <div class="form-group">
      <label for="bookPrice">Book Price:</label>
      <input type="number" class="form-control" id="bookPrice" name="bookPrice" placeholder="Enter book price"
        [(ngModel)]="book.bookPrice">
    </div>
    <br>

    <button type="submit" class="btn btn-primary" [disabled]="!bookForm.form.valid">Submit</button>
  </form>
</div>