<div class="container">
  <h1>Book Form</h1>

  <form #bookForm="ngForm" (ngSubmit)="submitForm(bookForm)">
    <div class="form-group">
      <label for="bookName">Book Name:</label>
      <input type="text" class="form-control" id="bookName" placeholder="Enter book name" name="bookName"
        [(ngModel)]="book.bookName" #bookName="ngModel" checkName required minlength="10">
    </div>
    @if (bookName.errors?.['startName']) {
    <div>
      Book name must start with Angular.
    </div>
    }
    @if (bookName.errors?.['required']) {
    <div>
      Book name must be present.
    </div>
    }
    @if (bookName.errors?.['minlength']) {
    <div>
      Book name must be of 10 characters.
    </div>
    }
    <br>
    <!-- <div *ngIf="bookName.invalid && (bookName.dirty || bookName.touched)" class="alert alert-danger">
      <div *ngIf="bookName.errors?.['startName']">
        Book name must start with Angular.
      </div>
      <div *ngIf="bookName.errors?.['required']">
        Book name must be present.
      </div>
      <div *ngIf="bookName.errors?.['required']">
        Book name is required.
      </div>
      <div *ngIf="bookName.errors?.['minlength']">
        Book name must be at least 10 characters long.
      </div>
    </div> -->


    <div class="form-group">
      <label for="bookAuthor">Book Author:</label>
      <input type="text" class="form-control" id="bookAuthor" name="bookAuthor" placeholder="Enter book author"
        [(ngModel)]="book.bookAuthor">
    </div>
    <br>

    <div class="form-group">
      <label for="bookType">Book Type:</label>
      <select class="form-control" id="bookType" name="bookType" [(ngModel)]="book.bookType">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
    <br>

    <div class="form-group">
      <label for="bookPrice">Book Price:</label>
      <input type="number" class="form-control" id="bookPrice" name="bookPrice" placeholder="Enter book price"
        [(ngModel)]="book.bookPrice">
    </div>
    <br>

    <button type="submit" class="btn btn-primary" [disabled]="!bookForm.form.valid">Submit</button>
  </form>
</div>